<html>
    <head>
        <link rel="stylesheet" href="/public/filme_do_dia.css" />
</head>   

    <% i = Math.floor((Date.now() - (3 * 60 * 60 * 1000)) / (24 * 60 * 60 * 1000)) % filme.length %> 

    <div class="container-fluid text-center block fundo1">
            <div class="title">
                <h1 class="titulo-1 color-white transition">FILME DO DIA</h1>
            </div>
            <div class="container-fluid filme">
                <div class="bg-black bg-opacity-50">
                    <h1 class="titulo-2 centered color-white"> <%= filme[i].nome %> </h1>
                    <hr class="centered">
                    <p> <%= filme[i].sinopse %>  </p>
                    <div class="centered">
                        <a href="" id="filmeurl" class="botao" >
                            <i class="fas fa-info-circle padding-10"></i>   MAIS INFORMAÇÕES
                        </a>
                    </div>
                </div>
            </div>
    </div>

    <div class="container-fluid text-center random color-white fundoserie">
        <h1 class="title">SURPREENDA-ME</h1>
        <p class="text">Não sabe o que assistir? Experimente nossa função aleatória de filmes!</p>
        <div class="centered">
            <button class="botao bold" type="button" id="botaoaleatorio">
                <i class="fas fa-random padding-10"></i>   ALEATÓRIO
            </button>
        </div>
    </div>

    <% j = Math.floor(Math.random() * (filme.length - 0 + 1)) + 0 %> 
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <h1> <%= filme[j].nome %> </h1>
                </div>            
                <div class="row">
                    <p> <%= filme[j].sinopse  %>  </p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="/public/img/poster.jpg" alt="poster" width="400">
            </div>
        </div>              
    </div>

    <div id="divaleatorio">
    </div>
    
</div>
</div>
