<html>
    <head>
        <link rel="stylesheet" href="/public/filme_do_dia.css" />
</head> 
<title>Galeria</title>
    <body>
      <div class="container margin-top-7">
        <div class="row">
      <% for (let j = 0; j < filme.length; j++) { %>
        <div class="col-sm-3">
          <div class="card img-galeria" style="width: 18rem; height: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= filme[j].nome %></h5>
              <a href="#" class="btn button">SAIBA MAIS</a>
            </div>
            </div>
        </div>	
        <% } %>
        </div>
        </div>
    </body>