    <div class="container-fluid text-left block header">
        <div class="row">
            <div class="title left-50">
                <h1 class="titulo-1 color-white italic transition">FILME DO DIA</h1>
            </div>
            <div class="col-sm-6">
                <div class="bg-black bg-opacity-50 padding-50">
                    <h1 class="titulo-1 centered color-white">
                        <span class="italic">1917</span>
                     </h1>
                    <p class="p-1 centered color-white opacity-100">
                        Em 1917, os cabos Schofield (George MacKay) e Blake (Dean-Charles Chapman) são jovens soldados britânicos durante a Primeira Guerra Mundial. Quando eles são encarregados de uma missão aparentemente impossível, os dois precisam atravessar território inimigo, lutando contra o tempo, para entregar uma mensagem que pode salvar cerca de 1600 colegas de batalhão.
                    </p>
                    <div class="centered">
                        <button class="button bold" onclick="showInfoMovie();">
                            <i class="fas fa-info-circle padding-10"></i>   MAIS INFORMAÇÕES
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 hide" id="coluna">
                <div class="bg-black bg-opacity-50 padding-50">
                    <h1 class="titulo-1 centered color-white">
                        <span class="italic">1917</span>
                     </h1>
                    <p class="p-1 centered color-white opacity-100">
                        Em 1917, os cabos Schofield (George MacKay) e Blake (Dean-Charles Chapman) são jovens soldados britânicos durante a Primeira Guerra Mundial. Quando eles são encarregados de uma missão aparentemente impossível, os dois precisam atravessar território inimigo, lutando contra o tempo, para entregar uma mensagem que pode salvar cerca de 1600 colegas de batalhão.
                    </p>
                    <div class="centered">
                        <button class="button bold" onclick="showInfoMovie();">
                            <i class="fas fa-times padding-10"></i>   FECHAR
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid text-left block serie">
        <div class="title left-50">
                    <h1 class="titulo-1 color-white italic transition">SÉRIE DO DIA</h1>
                </div>
        <div class="row">
            <div class="col-sm-6">
                
                <div class="bg-black bg-opacity-50 padding-50">
                    <h1 class="titulo-1 centered color-white">
                        <span class="italic">Round 6</span>
                     </h1>
                    <p class="p-1 centered color-white opacity-100">
                        Round 6, série sul-coreana original da Netflix, acompanha um grupo de pessoas desesperadas por dinheiro que recebem um misterioso convite para participar de jogos competitivos inspirados em brincadeiras infantis. Sem saber qualquer coisa sobre o convite, centenas de pessoas comparecem ao local para participar do evento. Ao final do jogo, o vencedor poderá levar para casa um prêmio milionário e resolver todas as suas dívidas. Porém, o que eles não sabem é que os perdedores não saírão vivos desse jogo. Agora os competidores precisarão lutar para sobreviver a essa macabra disputa.
                    </p>
                    <div class="centered">
                        <button class="button bold" onclick="showInfoTVShow();">
                            <i class="fas fa-info-circle padding-10"></i>   MAIS INFORMAÇÕES
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 hide" id="colunaSerie">
                <div class="bg-black bg-opacity-50 padding-50">
                    <h1 class="titulo-1 centered color-white">
                        <span class="italic">Round 6</span>
                     </h1>
                    <p class="p-1 centered color-white opacity-100">
                        Round 6, série sul-coreana original da Netflix, acompanha um grupo de pessoas desesperadas por dinheiro que recebem um misterioso convite para participar de jogos competitivos inspirados em brincadeiras infantis. Sem saber qualquer coisa sobre o convite, centenas de pessoas comparecem ao local para participar do evento. Ao final do jogo, o vencedor poderá levar para casa um prêmio milionário e resolver todas as suas dívidas. Porém, o que eles não sabem é que os perdedores não saírão vivos desse jogo. Agora os competidores precisarão lutar para sobreviver a essa macabra disputa.
                    </p>
                    <div class="centered">
                        <button class="button bold" onclick="showInfoTVShow();">
                            <i class="fas fa-times padding-10"></i>   FECHAR
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center random bg-black color-white">
        <h1 class="title">SURPREENDA-ME</h1>
        <p class="text">Não sabe o que assistir? Experimente nossa função aleatória, entre filmes e séries!</p>
        <div class="centered">
            <button class="button bold">
                <i class="fas fa-random padding-10"></i>   ALEATÓRIO
            </button>
        </div>
    </div>
    
<div class="bg-dark">
<div class="contain-1600 bg-dark color-white padding-50">
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-sm-4">
                <h2>NomeDoSite</span></h2>
                <p></p>
                <ul>
                    <li class="phone-icon"> >+55 12345-6789</li>
                    <li class="mail-icon">info@naturelabs.com</li>
                    <li class="home-icon">380 St</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h2>Links:</h2>
                <ul>
                    <li>Link</li>
                    <li>Link</li>
                    <li>Link</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h2>Support:</h2>
                <ul class="no-style">
                    <li>Contact Us</li>
                    <li>Submit a Ticket</li>
                    <li>Support System</li>
                </ul>
        
            </div>
        
        </div>
    </div>
</div>
</div>
</div>
