<input type="checkbox" id="bt_menu">
<label for="bt_menu"">&#9776;</label>


<nav class="menu">
    <ul>        
        <li><a  href= "">ANO</a>
            <ul>
                <li><a  href= "#">1980-1990</a></li>     
                <li><a  href= "#">1991-2000</a></li> 
                <li><a  href= "#">2001-2010</a></li> 
                <li><a  href= "#">2011-2020</a></li>
            </ul>
        </li>    
        <li><a  href= "#">GENERO</a> 
            <ul>
                <li><a  href= "#">TERROR</a></li>     
                <li><a  href= "#">AÇÃO</a></li> 
                <li><a  href= "#">SUSPENSE</a></li> 
                <li><a  href= "#">COMÉDIA</a></li>
            </ul>
        </li>   
        <li><a  href= "#">NACIONALIDADE</a>
            <ul>
                <li><a href= "#">BRASILEIRO</a></li>     
                <li><a href= "#">ESPANHOL</a></li> 
                <li><a href= "#">AMERICANO</a></li> 
                <li><a href= "#">JAPONES</a></li>
            </ul>
        </li>   
        <li><a href= "#">PLATAFORMA</a>
            <ul>
                <li><a  href= "#">NETFLIX</a></li>     
                <li><a  href= "#">AMAZON PRIME</a></li> 
                <li><a  href= "#">HBO MAX</a></li> 
                <li><a  href= "#">DISNEY PLUS</a></li>
            </ul>
        </li>   
    </ul>

</nav>