<head>
    <link rel="stylesheet" href="/public/sobre.css" />
</head>

<div class="container-fluid alinhado margem">
    <div class="row colunas">
        <div class="col-sm-6">
            <div class="fundinho rounded alto">
                <h1> SOBRE NÓS </h1>
                <p>  O cinema há muito tempo deixou de ser apenas um lugar para se tornar uma experiência,
                    por ser capaz de proporcionar ao consumidor da sétima arte diversas emoções como 
                    alegria, tristeza, medo, raiva, aversão e surpresa.
                </p> 
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row colunas">
                <div class="fundinho rounded">
                    <p> o grande aumento contínuo dos serviços de streaming, os usuários dessas plataformas
                        muitas vezes se encontram perdidos diante da imensa variedade do catálogo que nem 
                        sempre divulga os filmes de melhor qualidade, mas sim o lançamento mais recente ou 
                        até mesmo o mais comentado na mídia.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="fundinho rounded">
                    <p>
                        Levando isso em consideração, a CineMystic surgiu como uma iniciativa de facilitação para o usuário, 
                        de modo que a busca do filme seja objetiva e não dure mais do que o necessário. 
                        Partindo desse ponto, o nosso site oferece indicações de filmes aclamados tanto pela crítica
                        quanto pela audiência comum, de modo que nosso propósito seja realizado.
                    </p> 
                </div>
            </div>   
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="fundinho rounded">               
                <h3>Missão:</h3>
                <p>Oferecer ao usuário um filme que o agrade, de modo que sinta confiança o suficiente
                    em nossa plataforma para recomendá-la em situações do dia-a-dia</p> 
            </div>
        </div>

        <div class="col-sm-4">
            <div class="fundinho rounded">
                <h3>Visão:</h3>
                <p> Tornar-se uma marca confiável e referência em situações de recomendação de filmes 
                    para o usuário.</p> 
            </div>
        </div>

        <div class="col-sm-4">
            <div class="fundinho rounded">
                <h3>Valores:</h3>
                <p> Rapidez, praticidade e confiabilidade.</p> 
            </div>
        </div>          
    </div>
</div>

<div class="container-fluid alinhado margem2">
    <div class="row">
        <h1 style="font-size: 130px;" class="text-center">CRIADORES DO SITE</h1>
    </div>
    <div class="row justify-content-center colunas">
        <div class="col-sm-6">
            <div class="fundinho rounded alturaFoto">
                <h1>Diego Calciolari</h1>
                <p>Estudante de Sistemas de Informação (2° Semestre) na ESPM</p>
                <p>Filme favorito: </p>
                <button>Github</button>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="/public/img/diego.jpg" alt="" class="rounded" width="350">
        </div>
    </div>
    <div class="row justify-content-center colunas">
        <div class="col-sm-6">
            <div class="fundinho rounded alturaFoto">
                <h1>Geovanna Ribeiro</h1>
                <p>Estudante de Sistemas de Informação (2° Semestre) na ESPM</p>
                <p>Filme favorito: </p>
                <button>Github</button>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="/public/img/diego.jpg" alt="" class="rounded" width="350">
        </div>
    </div>
    <div class="row justify-content-center colunas">
        <div class="col-sm-6">
            <div class="fundinho rounded alturaFoto">
                <h1>Henrique Dalla</h1>
                <p>Estudante de Sistemas de Informação (2° Semestre) na ESPM</p>
                <p>Filme favorito: Borboletas - Victor e leo</p>
                <button><a href="https://www.youtube.com/watch?v=D6246rkbfQU&ab_channel=S%C3%93PRARECORDAR">Clica aqui henrique</a></button>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="/public/img/diego.jpg" alt="" class="rounded" width="350">
        </div>
    </div>
    <div class="row justify-content-center colunas">
        <div class="col-sm-6">
            <div class="fundinho rounded alturaFoto">
                <h1>Henrique Frata</h1>
                <p>Estudante de Sistemas de Informação (2° Semestre) na ESPM</p>
                <p>Filme favorito: Eu sou eh do rock</p>
                <button>Github</button>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="/public/img/rock.jpg" alt="" class="rounded" width="350">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="fundinho rounded alturaFoto">
                <h1>Vinicius Pierre</h1>
                <p>Estudante de Sistemas de Informação (2° Semestre) na ESPM</p>
                <p>Filme favorito: Vai se tratar garota</p>
                <button>Github</button>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="/public/img/diego.jpg" alt="" class="rounded" width="350">
        </div>
    </div>
</div>