<html>
<head>
    <link rel="stylesheet" href="/public/sobre.css" />
</head>

<body>
<div>
      <h1> SOBRE NÓS </h1>
      <p>  O cinema há muito tempo deixou de ser apenas um lugar para se tornar uma experiência,
           por ser capaz de proporcionar ao consumidor da sétima arte diversas emoções como 
           alegria, tristeza, medo, raiva, aversão e surpresa.
      </p>    

      <p> o grande aumento contínuo dos serviços de streaming, os usuários dessas plataformas
              muitas vezes se encontram perdidos diante da imensa variedade do catálogo que nem 
              sempre divulga os filmes de melhor qualidade, mas sim o lançamento mais recente ou 
              até mesmo o mais comentado na mídia.
      </p>

      <p>
         Levando isso em consideração, a CineMystic surgiu como uma iniciativa de facilitação para o usuário, 
         de modo que a busca do filme seja objetiva e não dure mais do que o necessário. 
         Partindo desse ponto, o nosso site oferece indicações de filmes aclamados tanto pela crítica
          quanto pela audiência comum, de modo que nosso propósito seja realizado.
       </p>

</div>


    <p class="teste">
        Missão: Oferecer ao usuário um filme que o agrade, de modo que sinta confiança o suficiente
         em nossa plataforma para recomendá-la em situações do dia-a-dia
    </p>
   
    <p>
        Visão: Tornar-se uma marca confiável e referência em situações de recomendação de filmes 
        para o usuário.
    </p>

    <p>
        Valores: Rapidez, praticidade e confiabilidade.
    </p>

</body>
</html>  