body{
    background-color: #1a1a1a;
}

hr{
    width: 30%;
    background-color: #ffca3d !important;
    padding: 2px;
    opacity: 1 !important;
}


a{
    text-decoration: none;
}
a:hover{
    color: black !important;
    text-decoration: none !important;
}


.padding-10{
    padding: 10px;
}

.fundo1{
    margin-top: 80px;
    min-height: 100vh;
}

.color-white{
    color: white;
}

.centered{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.botao{
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color:#ffca3d;
    color: black;
    border: none;
    box-shadow: 1px 1px 2px #0d0d0d;
    text-decoration: none;
}

.bold{
    font-weight: 600;
}

.random{
    padding: 250px 20px;
    max-width: 100%;
}

.alinhado{
    padding: 40px;
    color: black;
    font-size: 20px;
}

.colunas{
    padding-bottom: 30px;
}   

.fundinho{
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffcb3d;
    max-width: 650px;
}

.espreme{
    max-width: 800px;
    text-align: center;
}