body{
    color: #f0f0f0;
    font-size: 1.4rem;
}

.font{
    font-family: 'Open Sans', sans-serif;
}

.alinhado{
    padding: 40px;
    color: black;
    font-size: 20px;
}
.margin-top-2{
    margin-top: 2rem;
}
.colunas{
    padding-bottom: 30px;
}   

.fundinho{
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffcb3d;
    max-width: 650px;
    min-height: 150px;
}

.espreme{
    max-width: 800px;
    text-align: center;
}

.margem{
    margin-top: 80px;
    min-height: 100vh;
}

.margem2{
    margin-top: 50px;
    min-height: 100vh;
}

.alto{
    min-height: 330px;
}

.alturaFoto{
    min-height: 466px;
}

.margin-top{
    margin-top: 7rem;
}